[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chess = "*"
python-chess = "*"
argon2-cffi = "*"
argon2-cffi-bindings = "*"
asttokens = "*"
attrs = "*"
backcall = "*"
black = "*"
bleach = "*"
cffi = "*"
click = "*"
debugpy = "*"
decorator = "*"
defusedxml = "*"
entrypoints = "*"
executing = "*"
ipykernel = "*"
ipython = "*"
ipywidgets = "*"
jedi = "*"
jsonschema = "*"
jupyter = "*"
jupyter-client = "*"
jupyter-console = "*"
jupyter-core = "*"
jupyterlab-pygments = "*"
jupyterlab-widgets = "*"
matplotlib-inline = "*"
mistune = "*"
mypy-extensions = "*"
nbclient = "*"
nbconvert = "*"
nbformat = "*"
nest-asyncio = "*"
notebook = "*"
numpy = "*"
pandas = "*"
pandocfilters = "*"
parso = "*"
pathspec = "*"
pexpect = "*"
pickleshare = "*"
platformdirs = "*"
prometheus-client = "*"
prompt-toolkit = "*"
ptyprocess = "*"
pure-eval = "*"
pycparser = "*"
pyparsing = "*"
pyrsistent = "*"
python-dateutil = "*"
pytz = "*"
pyzmq = "*"
qtconsole = "*"
six = "*"
stack-data = "*"
terminado = "*"
testpath = "*"
thefuzz = "*"
tomli = "*"
tornado = "*"
tqdm = "*"
traitlets = "*"
wcwidth = "*"
webencodings = "*"
widgetsnbextension = "*"
ipython_genutils = "*"
Jinja2 = "*"
MarkupSafe = "*"
Pygments = "*"
python-Levenshtein = "*"
QtPy = "*"
Send2Trash = "*"

[dev-packages]

[requires]
python_version = "3.10"
